.mainQuoteDiv {
    display: flex;
    flex-direction: column;
}

.allQuotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quoteDiv {
    background-color: rgb(247, 247, 247);
    height: 175px;
    width: 200px;
    margin: 30px 30px 30px 30px;
    text-align: center;
}

.quoteName {
    font-size: 22px;
    font-family: 'Arial';
    margin: 0px;
}

.quoteDesc {
    font-size: 18px;
    font-family: 'Arial';
    font-style: italic;
    margin: 15px 0 15px 0;
}

.viewBtn {
    height: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    background-color: orange; 
    color: white; 
    padding: 0px; 
    border-radius: 2px;
    float: left; 
    margin: auto;
}

.viewGrp {
    flex-direction: row;
    width: 150px;
    border-radius: 2px;
    border: 1px solid white;
}

.viewGrp:active, .viewGrp:hover {
    background-color: rgb(209, 116, 2);
}   

