.mainDiv {
    border: 1px solid lightgrey;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.formTop {
    height: 80px;
    background-color: #F6F5F5;
    color: navy;
    font-family: 'Verdana';
    display: flex;
    flex-direction: column;
}

p {
    margin-top: auto;
    margin-bottom: auto;
}

.formRow {
    display: flex;
    justify-content: space-between;
    font-family: 'Arial';
    font-size: 15px;
    margin: 10px;
}

input {
    width: 330px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid lightgrey;
}

select {
    width: 330px;
    height: 34px;
    background-color: white;
}

img {
    width: 100px;
    float: left;
    clear: left;
}

.travelInput {
    width: 165px;
}

.submit {
    text-align: center;
    margin: 50px 15px 15px 15px;
}

button {
    background-color: orange;
    border-radius: 2px;
    border: 1px solid orange;
    width: 98%;
    color: white;
    height: 35px;
    font-size: 15px;
}

.reset {
    text-align: center;
    margin: 20px;
}

a {
    text-align: center;
    font-style: italic;
    font-family: 'Arial';
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .mainDiv {
        width: 500px;
    }

    .formRow {
        flex-direction: column;
        margin: 0px;
    }

    input, select{
        width: 480px;
    }

    .travelInput {
        width: 238px;
    }

    label {
        margin: 8px;
    }

    button {
        width: 200px;
    }
}


